<!DOCTYPE html>
<html lang="en" ng-app="personalWebsite">
    <meta http-equiv="Cache-control" content="public" max-age="31536000">
        
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">                
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Deepak Subramanian</title>          
    </head>

    <body  ng-controller="TabController as Tab"> 
        <link rel="stylesheet" href="/style/personal.css"/>  
        
        <div class="topHeader bg-dark text-right">
            <a href="https://github.com/deepaks0520/Software-Projects" style="color: #f5f5f5"><i class="fa fa-github-square" style="font-size:40px"></i> </a>  
            <a href="https://linkedin.com/in/deepak-subramanian-069119148" style="color: #0077B5"><i class="fa fa-linkedin-square" style="font-size:40px"></i></a>                                 
        </div>
        
        <div class="jumbotronHome jumbotron-fluid text-center"> 
            <div class="Tab2 bg-dark container-fluid" ng-show="Tab.isSelected(1)">                    
                <br>                    
                <h1>Deepak Subramanian</h1>
                <p> University of Michigan 2020</p>
                <p>BE in Computer Engineering</p>
                <p>Minor in Entrepreneurship </p>
                <br>
            </div>
        </div>
        
        <div class="jumbotronAboutMe text-center">                                        
             <div class="TabAboutMe bg-dark container-fluid" ng-show="Tab.isSelected(2)">
                <br><br><br><br><br><br><br><br><br><br>              
            </div>
        </div>

        <div class="jumbotronProjects text-center">                                        
             <div class="TabProjects bg-dark container-fluid" ng-show="Tab.isSelected(3)">
                <br><br><br><br><br><br><br><br><br><br>              
            </div>
        </div>

        <div class="jumbotronResume text-center">                        
            <div class="TabResume bg-primary" ng-show="Tab.isSelected(4)">
                <br><br><br><br><br><br><br><br><br><br>              
            </div>
        </div>

        <div class="jumbotronContact text-center">                        
            <div class="TabContact bg-primary" ng-show="Tab.isSelected(5)">
                <br><br><br><br><br><br><br><br><br><br>              
            </div>
        </div>

        <div class="navMain p-3 bg-dark container-fluid" ng-show="Tab.isSelected(1)">
            <ul class="nav nav-pills nav-justified">
                <a class="nav-item {active:Tab.isSelected(1)} nav-link"  href ng-click="Tab.selectTab(1) ">Home</a> 
                <a class="nav-item {active:Tab.isSelected(2)} nav-link" href ng-click="Tab.selectTab(2)">About Me</a> 
                <a class="nav-item {active:Tab.isSelected(3)} nav-link" href ng-click="Tab.selectTab(3)">Projects</a> 
                <a class="nav-item {active:Tab.isSelected(4)} nav-link" href ng-click="Tab.selectTab(4)">Resume</a> 
                <a class="nav-item {active:Tab.isSelected(5)} nav-link" href ng-click="Tab.selectTab(5)">Contact</a>                 
            </ul>
        </div>

        <div class="navOther p-3 bg-dark container-fluid" ng-show="Tab.isSelected(2)">
            <ul class="nav nav-pills nav-justified">
                <a class="nav-item {active:Tab.isSelected(1)} nav-link"  href ng-click="Tab.selectTab(1) ">Home</a> 
                <a class="nav-item {active:Tab.isSelected(2)} nav-link" href ng-click="Tab.selectTab(2)">About Me</a> 
                <a class="nav-item {active:Tab.isSelected(3)} nav-link" href ng-click="Tab.selectTab(3)">Projects</a> 
                <a class="nav-item {active:Tab.isSelected(4)} nav-link" href ng-click="Tab.selectTab(4)">Resume</a> 
                <a class="nav-item {active:Tab.isSelected(5)} nav-link" href ng-click="Tab.selectTab(5)">Contact</a>                 
            </ul>
        </div>

        <div class="navOther p-3 bg-dark container-fluid" ng-show="Tab.isSelected(3)">
            <ul class="nav nav-pills nav-justified">
                <a class="nav-item {active:Tab.isSelected(1)} nav-link"  href ng-click="Tab.selectTab(1) ">Home</a> 
                <a class="nav-item {active:Tab.isSelected(2)} nav-link" href ng-click="Tab.selectTab(2)">About Me</a> 
                <a class="nav-item {active:Tab.isSelected(3)} nav-link" href ng-click="Tab.selectTab(3)">Projects</a> 
                <a class="nav-item {active:Tab.isSelected(4)} nav-link" href ng-click="Tab.selectTab(4)">Resume</a> 
                <a class="nav-item {active:Tab.isSelected(5)} nav-link" href ng-click="Tab.selectTab(5)">Contact</a>                 
            </ul>
        </div>

        <div class="navOther p-3 bg-dark container-fluid" ng-show="Tab.isSelected(4)">
            <ul class="nav nav-pills nav-justified">
                <a class="nav-item {active:Tab.isSelected(1)} nav-link"  href ng-click="Tab.selectTab(1) ">Home</a> 
                <a class="nav-item {active:Tab.isSelected(2)} nav-link" href ng-click="Tab.selectTab(2)">About Me</a> 
                <a class="nav-item {active:Tab.isSelected(3)} nav-link" href ng-click="Tab.selectTab(3)">Projects</a> 
                <a class="nav-item {active:Tab.isSelected(4)} nav-link" href ng-click="Tab.selectTab(4)">Resume</a> 
                <a class="nav-item {active:Tab.isSelected(5)} nav-link" href ng-click="Tab.selectTab(5)">Contact</a>                 
            </ul>
        </div>

        <div class="navOther p-3 bg-dark container-fluid" ng-show="Tab.isSelected(5)">
            <ul class="nav nav-pills nav-justified">
                <a class="nav-item {active:Tab.isSelected(1)} nav-link"  href ng-click="Tab.selectTab(1) ">Home</a> 
                <a class="nav-item {active:Tab.isSelected(2)} nav-link" href ng-click="Tab.selectTab(2)">About Me</a> 
                <a class="nav-item {active:Tab.isSelected(3)} nav-link" href ng-click="Tab.selectTab(3)">Projects</a> 
                <a class="nav-item {active:Tab.isSelected(4)} nav-link" href ng-click="Tab.selectTab(4)">Resume</a> 
                <a class="nav-item {active:Tab.isSelected(5)} nav-link" href ng-click="Tab.selectTab(5)">Contact</a>                 
            </ul>
        </div>

        <div class="Tab w-100 bg-dark text-white" ng-show="Tab.isSelected(2)">
            </br>
            <div class="row Main1">
                <div class="col main1L text-center">
                    <h2>Deepak Subramanian</h2>
                </div>

            </div>
            <div class="row">
                <div class="col main1L text-center">
                    <br>
                    <br>
                    <br>
                    <br>
                    <img src="Images/Me in Banff.jpg" class="profile img-circle">
                </div>
                <div class="col main2R text-left">
                    <br>    
                    <h4>A Little About Me</h4>
                    <br>
                    <p> I am a rising Junior pursuing my Bachelor's Degree in Computer Engineering at the University of Michigan. I am interested in pursuing a career in software engineering, more specifically in intelligent systems or back-end development. </p>
                    <p> Over the past two years, I have taken the fundamental programming classes at Michigan and have developed a strong understanding of data structures and algorithms. I have also worked on several projects outside the academic enviornment through clubs, internships, research, and in my personal time. You can find a complete list of my projects and skills on the Projects tab and Resume tab respectively. </p>
                    <p> My most recent experience was this summer in CMU during which I developed a congitive assistant that used Machine Learning to assist patients through back therapy. You can ready more about this work on my GitHub link, which can be found on top of this page.</p>
                    <br>
                    <h4>What I am Looking For</h4>
                    <br>
                    <p>I am currently seeking a summer 2019 software internship where I will be either involved in back-end development or using machine learning to develop an inteligent system. Please contact me with the information provided in the Contacts tab.</p>
                    
                </div>
            </div>
            </br>
            

            </br> </br> </br> </br> </br> </br> </br></br>
        </div>

        <div class="cardProjects " ng-show="Tab.isSelected(3)" ng-controller="ProjectController as Project">

            <div class="card w-100 bg-dark text-white" ng-repeat="project in Project.projects">
                <br>
                <h5 class="card-title" style="text-align: center"> <b>{{project.name}}</b></h5>
                <p class="card-text"><b>Project Date: </b>{{project.date}}</p>
                <p class="card-text"><b>Project Description: </b>{{project.description}}</p>
                <p class="card-text"><b>Main Skills Learned: </b>{{project.mainSkills}}</p> 
                <br />              
            </div>
        </div>
        <div class="Tab w-100 bg-dark text-white" ng-show="Tab.isSelected(4)">
            <br>
            <div class="row">
                <div class="col Ex" ng-controller="ExperienceController as Experience">
                    <h5 class="text-center">Work Experience</h5>
                    <div class="card w-100 bg-dark text-white" ng-repeat="jobs in Experience.ex">
                        <p class="card-text">
                            <b>{{jobs.name}}</b> </br>                                 
                            {{jobs.dates}} </br>
                            {{jobs.position}} </br>
                            <i>Description: </i>
                            <div class="MarginNeeded">
                            {{jobs.task1}} </br>
                            {{jobs.task2}} </br>
                            {{jobs.task3}} </br>
                            {{jobs.task4}} </br> 
                            </div>
                            </br>
                        </p>                  
                    </div>
                    <h5 class="text-center">Research Experience</h5>
                    <div class="card w-100 bg-dark text-white" ng-repeat="research in Experience.re">
                        <p class="card-text">
                            <b>{{research.name}}</b> </br>                                 
                            {{research.dates}} </br>
                            {{research.position}} </br>
                            <i>Description: </i>
                            <div class="MarginNeeded">
                            {{research.task1}} </br>
                            {{research.task2}} </br>
                            </div>
                            </br>
                        </p>                  
                    </div>
                    <h5 class="text-center">Extracurriculars</h5>
                    <div class="card w-100 bg-dark text-white" ng-repeat="extr in Experience.ext">
                        <p class="card-text">
                            <b>{{extr.name}}</b> </br>                                 
                            {{extr.dates}} </br>
                            {{extr.position}} </br>
                            <i>Description: </i>
                            <div class="MarginNeeded">
                            {{extr.task1}} </br>
                            {{extr.task2}} </br>
                            </div>
                            </br>
                        </p>                  
                    </div>
                </div>
                <div class="col Ed" ng-controller="ResumeController as Resume">
                    <h5 class="text-center">Education</h5>
                    <div class="card w-100 bg-dark text-white" ng-repeat="education in Resume.edu">                
                        <p class="card-text"> 
                            <b>{{education.name}}</b> </br>
                            {{education.expectedGraduation}} </br>
                            {{education.Degree}}</br>
                            <i>Relevant Courses:</i> {{education.RelevantCourse}} </br>
                            <i>Highlights: </i>{{education.Highlights}} </br> 
                            </br>
                        </p> 
                    </div>
                    <h5 class="text-center">Skills</h5>
                    <div class="card w-100 bg-dark text-white" ng-repeat="skills in Resume.sk">                
                        <p class="card-text"> 
                            <b>{{skills.name}}</b> </br>
                            {{skills.Languages}} </br>
                            </br>
                        </p> 
                    </div>
                </div>
            </div>
        </div>

        <div class="Tab w-100 bg-dark text-white" ng-show="Tab.isSelected(5)">
            </br>
            <div class="row Main1">
                <div class="col main1L text-left">
                    <h2>Contact</h2>
                </div>
                <div class="col main2R text-right">
                    <h5>Deepak Subramanian</h5>
                </div>
            </div>
            </br>
            <div class = "row Main2">
                <div class="col">
                    Email </br>
                    <a href="mailto:deepaksm@umich.edu">deepaksm@umich.edu</a>                    
                </div>
                <div class="col">
                    GitHub </br>
                    <a href="https://github.com/deepaks0520/Software-Projects" style="color: #f5f5f5"><i class="fa fa-github-square" style="font-size:50px"></i> </a>                    
                </div>
                <div class="col">
                    LinkedIn </br>                        
                    <a href="https://linkedin.com/in/deepak-subramanian-069119148" style="color: #0077B5"><i class="fa fa-linkedin-square" style="font-size:50px"></i></a>                                 
                </div>
            </div>
            <div class="contactForm">
                <br>
                <h3>You can ask me a question by submitting this form: </h3>
                <form action="mailto:deepaksmanian@gmail.com" method="post" enctype="text/plain">
                    Name:<br>
                    <input type="text" name="name"><br>
                    E-mail:<br>
                    <input type="text" name="mail"><br>
                    Question:<br>
                    <input type="text" name="comment" size="50"><br><br>
                    <input type="submit" value="Send Email">
                    <input type="reset" value="Reset Form">
                </form>
            </div>

            </br> </br> </br> </br> </br> </br> </br></br>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>        
        <script type="text/javascript" src="/scripts/app.js"></script>

    </body>
</html>