body { 
    /* The image used */
    /*background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");*/
    background-image: url('Images/Duderstadt.jpg');

    /* Full height */
    height: 100vh; 

    margin-left: 0;
    margin-right: 0;
    padding: 0;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    margin:0px;
    padding:0px;
}

.card-img-top {
    width: 10%;
    height: 10%;
}

.Tab2 {
    opacity: .9;
    color: white;
    
}

.Tab {
    width: 100%;
}

.TabProjects {
    background-color: transparent;
    background-image: url('Images/EECS.jpg');
    background-size: 100% 100%;
    width: auto;
    padding-bottom: 0;    
}

.TabResume {
    background-color: transparent; 
    padding-bottom: 0;
    background-image: url('Images/Michigan2.jpg');
    background-size: 100% 100%;
    width: auto;
}

.TabContact{
    padding-bottom: 0;
    background-image: url('Images/Computers.jpg');
    background-size: 100% 100%;
    width: auto;
}


.jumbotronHome {
    padding-bottom: 0;
    background-size: 100% 100%;
    
}

.Main1 {
    margin-left: 11%;
    margin-right: 15%;
    border-bottom: 1px solid darkslategray;
}
.Main2 {
    margin-left: 13%;
    margin-right: 13%;
    border-bottom: 1px solid darkslategray;
    
}

.navMain {
    opacity: .95;
    border-bottom: 1px solid darkslategray;
}

.navOther {
    border-bottom: 1px solid darkslategray;
}

.card-text {
    margin-left: 2%;
}

.topHeader {
    width: 100%;
    color: white;
}

.li {
    display: inline-block;
    text-align:left;
}

.MarginNeeded {
    margin-top: 0;
    margin-left: 4%;
}

.Ex{
    margin-left: 2%;
    margin-right: 1%;
}

.Ed {
    margin-right: 2%;
}

.contactForm {
    text-align: center;
}


