body{
    overflow: auto;
}

.mainCard{
    background-color: darkslategray;
    color: white;
    height: 400px;
    
}

.cardDiv{
    background-color: tan;
    overflow: auto;
}

.cardTitle {
    align-items: center;
    text-align: center;
}

.cardImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 150px;
    border-radius: 25px;
    border: 1px solid;
    border-color: black;
    
}

.cardAddEvent {
    text-align: center;
}

.cardDate{
    text-align: center;
}

.cardDescription {
    text-align: left;
    overflow: auto;
    margin-left: 20px;
}

.cityName{
    text-align: center;
}
iframe{
    display:block;
    width: 100%;
}

#This starts the Welcome Page CSS




