<!DOCTYPE html>
<html lang="en" ng-app="personalWebsite">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">                
        <title>Deepak Subramanian</title>          
    </head>

    <body class="container" ng-controller="TabController as Tab"> </body>
        <div class="jumbotron p-6 mb-2 bg-secondary text-white">
                <h1 class="text-center">Deepak Subramanian</h1>
        </div>
        <link rel="stylesheet" href="personal.css"/>                                                
        <div class="p-3 mb-2 bg-dark text-white container ">
            <ul class="nav nav-pills nav-justified">
                <a class="nav-item {active:Tab.isSelected(1)} nav-link"  href ng-click="Tab.selectTab(1) ">Home</a> 
                <a class="nav-item {active:Tab.isSelected(2)} nav-link" href ng-click="Tab.selectTab(2)">Projects</a> 
                <a class="nav-item {active:Tab.isSelected(3)} nav-link" href ng-click="Tab.selectTab(3)">Resume</a> 
                <a class="nav-item {active:Tab.isSelected(4)} nav-link" href ng-click="Tab.selectTab(4)">Contact</a> 
            </ul>
        </div>

        <div class="Tab" ng-show="Tab.isSelected(1)">
            <h2 class="text-center">Home</h2>
            
        </div>
        <div class="card" ng-show="Tab.isSelected(2)" ng-controller="ProjectController as Project">
            <h2 class="text-center">Projects</h2>                
            <div class="card-block card-outline-secondary" ng-repeat="project in Project.projects">
                <span6>
                <!<img class="card-img-top" style="width: 50%" src="Images/temp.jpeg">
                <p class="card-text"><b>Project Title: </b>{{project.name}}</p>
                <p class="card-text"><b>Project Date: </b>{{project.date}}</p>
                <p class="card-text"><b>Project Description: </b>{{project.description}}</p>
                <p class="card-text"><b>Main Skills Learnt: </b>{{project.mainSkills}}</p>         
            </div>
        </div>
        <div class="Tab" ng-show="Tab.isSelected(3)">
            <h2 class="text-center">Resume</h2>
        </div>
        <div class="Tab" ng-show="Tab.isSelected(4)">
            <h2 class="text-center">Contact</h2>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>

    </body>
</html>