<div class= "background">
  <div>
    <br>
    <br>
    <br>
  </div>
  <div class="jumbotron jumboBackground">
    <div class= "jumboHeader">
      <h2> Welcome to your Personal Accountant</h2>
    </div>
    <div class = "jumboHeader">
      <p> This platform will help you budget yourself with the use of charts, graphs, and personal alerts.</p>
      <br>
    </div>
    <div class = "jumboButtons">
      <button class="btn-primary" (click) = "logIn()" style="font-size:24px">Log In <i class="fa fa-sign-in"></i></button>   
      &nbsp;                        
      <button class="btn-info" (click)="signUp()" style="font-size:24px">Sign Up <i class="fa fa-user-plus"></i></button>
    </div>
  </div>
</div>

